@page
@model IndexModel
@{
    ViewData["Title"] = "Test site for learning razoe and dotnet web dev";
    TimeSpan timeInBusienss = DateTime.Now - new DateTime(1972, 3, 31);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
    <p>Learning for @Convert.ToInt32(timeInBusienss.TotalDays) days</p>
</div>
